A.Dust_Ridge_12C18O.cube.I.pbcor.fits
A.Dust_Ridge_13C16O.cube.I.pbcor.fits
A.Dust_Ridge_sci.spw29.cube.I.pbcor.fits
A.Dust_Ridge_sci.spw31.cube.I.pbcor.fits
B.Dust_Ridge_12C16O_1-0.cube.I.pbcor.fits
B.Dust_Ridge_12C17O.cube.I.pbcor.fits
B.Dust_Ridge_sci.spw25_27_29_31.cont.I.tt0.pbcor.fits
B.Dust_Ridge_sci.spw29.cube.I.pbcor.fits
B.Dust_Ridge_sci.spw31.cube.I.pbcor.fits
